* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#root {
    min-width: 450px;
}

.text-margin {
    margin: 36px 30px 36px 30px;
}

main {
    /* min-height: 100vh; */
    margin: 36px 0 0 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

nav > h1, li {
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 75px;
}

footer {
    color: #AAAA;
    background-color: #252525;
    text-align: center;
    padding: 25px 0;
    font-weight: 500;
}

/*** HOME PAGE ***/

.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../../public/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    color: white;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-container p {
    line-height: 24px;
    margin: 22px 0 51px 0;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    /* max-width: 100%; */
    width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
    margin-top: 48px;
}

.about-page-content p {
    line-height: 22px;
}

.mid {
    margin: 31px 0 20px 0;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
    margin-bottom: 36px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
    padding: 12px 22px;
    text-decoration: none;
}

/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 23px
}

.van-list-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    
}

.van-list-filter-buttons > a {
    margin-right: 15px;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.van-detail-container {
    padding-inline: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {
    
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    margin-bottom: 85px;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
    margin-top: 21px;
    padding: 12px 0;
    border-radius: 10px;
    border: none;
}
