* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: #0B2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
    width: 100%;
    max-height: 800px;
    max-width: 1000px;

}

button {
    font-family: inherit;
}

main {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-conatiner {
    text-align: center;
}

.title {
    font-size: 40px;
    margin: 0 0 20px 0;
}

.instructions {
    font-size: 20px;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 40px;
    margin: 60px 0;
}

.dice-container button {
    height: 100px;
    width: 100px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    background-color: white;
    font-family: Inter, sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

button.roll-dice {
    height: 50px;
    white-space: nowrap;
    width: auto;
    padding: 6px 21px;
    border: none;
    border-radius: 6px;
    background-color: #5035ff;
    color: white;
    font-size: 1.2rem;
}