/* ========== Global Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
  color: white;
}

/* ========== Card Container ========== */
#root {
  width: 320px;
}

header, section, footer {
  background: #1f1f1f;
  padding: 20px;
  text-align: center;
}

/* ========== Header ========== */
header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

header h1 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

header p:nth-of-type(1) {
  /* color: #f3bf99; */
  font-size: 0.9rem;
  margin-bottom: 2px;
}

header p:nth-of-type(2) {
  color: #a5a5a5;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

#career-infor {
    color: #f3bf99;;
}

/* ========== Buttons ========== */
header > div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 10px;
}

header > div div {
  background: #fff;
  color: #374151;
  flex: 1;
  padding: 16px 0;
  border-radius: 6px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

header > div div:hover {
  background: #e6e6e6;
}

header > div div:nth-child(2) {
  background: #5093e2;
  color: white;
}

header > div div:nth-child(2):hover {
  background: #4282cb;
}

header > div img {
  width: 16px;
  margin: 0;
}

/* ========== Sections ========== */
section {
  margin-top: 20px;
  text-align: left;
}

section h2 {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

section p {
  font-size: 0.9rem;
  color: #dcdcdc;
  line-height: 1.4;
}

/* ========== Footer ========== */
footer {
  margin-top: 20px;
  background: #161616;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
}

footer img {
  width: 26px;
  cursor: pointer;
  transition: 0.2s;
}

footer img:hover {
  opacity: 0.7;
}
